/* HEADER */
.header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(153, 82, 82);
  border-bottom: 4px solid burlywood;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* FORM */
.search-box {
  border: 2px dashed rgb(153, 82, 82);
  border-radius: 4px;
  background-color: burlywood;
  box-sizing: border-box;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 60px;
}

.search-history {
  font-style: italic;
  color: rgb(153, 82, 82);
}

.label-search-box {
  font-size: 35px;
  color: white;
  margin-right: 15px;
}

.button-search-box {
  border-radius: 4px;
  color: white;
  border: 1px solid rgb(153, 82, 82);
  background-color: rgb(153, 82, 82);
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* REACT AUTOSUGGEST */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 2px solid rgb(153, 82, 82);
  border-radius: 4px;
  color: rgb(153, 82, 82);
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 2px solid rgb(153, 82, 82);
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/* COUNTRY INFO */

.country-info {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid rgb(153, 82, 82);
  border-radius: 4px;
  background-color: burlywood;
}

.country-info-flag {
  width: 50%;
  display: flex;
  justify-content: center;
}

.country-info-flag img {
  width: 600px;
  height: 350px;
}

.country-info-details {
  color: white;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 28px;
  padding-left: 20px;
}

.country-info-details-title {
  color: rgb(153, 82, 82);
}

/* Media Query Mixins */

/* mediaXSm */
@media screen and (max-width: 500px) {
  .country-info-flag img {
    width: 200px;
    height: 80px;
  }
}

/* mediaSm */
@media screen and (max-width: 700px) {
  .label-search-box {
    margin-bottom: 15px;
  }
  .search-box {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .button-search-box {
    width: 150px;
    margin: 0 auto;
    padding: 6px;
    margin-top: 15px;
  }
  .react-autosuggest__input {
    width: 200px;
  }
  .react-autosuggest__suggestions-container--open {
    width: 240px;
  }

  .country-info {
    flex-direction: column;
  }
  .country-info-flag {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
  }
  .country-info-flag img {
    width: 280px;
    height: 150px;
  }
  .country-info-details {
    font-size: 15px;
    width: 100%;
  }
}

/* mediaMd */
@media screen and (min-width: 701px) and (max-width: 900px) {
  .label-search-box {
    font-size: 30px;
  }
  .button-search-box {
    width: 100px;
    font-size: 20px;
  }
  .country-info-flag img {
    width: 350px;
    height: 200px;
  }
  .country-info-details {
    font-size: 18px;
  }
}

/* mediaLg */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .country-info-flag img {
    width: 400px;
    height: 250px;
  }
  .country-info-details {
    font-size: 22px;
  }
}

/* mediaXl */
@media screen and (min-width: 1201px) {
}
